@using DevExpress.AIIntegration.Blazor.Chat

@page "/"


<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.


<div class="chat-demo-container">
    <DxAIChat CssClass="demo-chat" />
</div>